:root {
    /* Font */
    --font-stack: Helvetica, sans-serif;

    /* Colors */
    --primary-color: #000000;
    --secondary-color: #ff0000;
    --accent-color: #00ffff;

    /* Alert messages */
    /* Background */
    --bg-info-color: #007bff;
    --bg-danger-color: #ff0015;
    --bg-success-color: #00ff3c;
    --bg-warning-color: #ffc400;
    --bg-dark-color: #1b1e21;
    /* Border */
    --b-info-color: #007bff;
    --b-danger-color: #ff0019;
    --b-success-color: #00ff3c;
    --b-warning-color: #ffbf00;
    --b-dark-color: #1b1e21;
    /* Font */
    --f-info-color: #007bff;
    --f-danger-color: #ff0019;
    --f-success-color: #00ff3c;
    --f-warning-color: #ffbf00;
    --f-dark-color: #1b1e21;

}
