/* body {
    color: goldenrod;
    background-color: black;
} */
*, html, body {
    margin: 0;
    padding: 0;
  }
  
  body {
    font: 100%;
    color: green;
    background-color: rgb(82, 14, 14);
  }
  
  .alert-component {
    background-color: aqua;
  }